---
import type { CollectionEntry } from 'astro:content';
type Props = {
  concorrente: CollectionEntry<'concorrenti'>;
};
import { Image } from 'astro:assets';
const { concorrente } = Astro.props;
// Array of fun nicknames
const nicknames = [
  'Liburu Lehoi',
  'Irakurketa Aingeru',
  'Orri Zalduna',
  'Istorio Eztia',
  'Kapitulo Erregea',
  'Hitzen Magoa',
  'Narrazio Pirata',
  'Istorio Harpa',
  'Liburu Bidaiaria',
  'Pasarte Beldurtia',
];

// Generate a random nickname for each page load
const randomNickname = nicknames[Math.floor(Math.random() * nicknames.length)];
---

<li class='rounded-2xl bg-[var(--bg-header)] px-8 py-10'>
  <!-- Wrapping the image in a link -->
  <a href={`/concorrente/${concorrente.data.username}`} class='block'>
    <Image
      class='mx-auto h-48 w-48 rounded-full md:h-56 md:w-56 border-2 border-[var(--nav-border)]'
      src={concorrente.data.image}
      alt={concorrente.data.nome}
    />
  </a>

  <!-- Wrapping the name in a link -->
  <a href={`/concorrenti/${concorrente.data.username}`} class='block mt-6'>
    <h3
      class='text-base font-semibold leading-7 tracking-tight text-[var(--text)]'>
      {concorrente.data.nome}
    </h3>
  </a>
  <p class='text-base leading-6 text-[var(--text)]'>{randomNickname}</p>
  <!-- Replacing Social Icons with fun icons related to reading -->
</li>
