---
import type { CollectionEntry } from 'astro:content';
type Props = {
  libro: CollectionEntry<'libros'>;
};

const { libro } = Astro.props;
---

<div class='book'>
  <a href={libro.data.link}>
    <img
      loading='lazy'
      width='180'
      height='270'
      src={libro.data.cover}
      alt={libro.data.alt}
    /></a
  >
  <div class='info'>
    <h3 class='title'>{libro.data.title}</h3>
    <p>{libro.data.author}</p>
    <div x-data='{ open: false }' class=''>
      <button @click='open = ! open' class='border px-2 py-1 rounded-lg text-xs'
        >Open</button
      >
      <template x-if='open'>
        <div>
          <p class=''>{libro.data.body}</p>
        </div>
      </template>
    </div>
    <ul>
      {libro.data.tag.map(tag => <li>{tag}</li>)}
    </ul>
    <p class='concorrente'>{libro.data.concorrente}</p>
    <!-- <p class='tag'>{book.daa.yearRead}</p> -->
  </div>
</div>

<style>
  .book .info {
    margin-top: 1em;
  }

  button {
    border: 1px solid var(--text);
  }

  .book p {
    color: var(--text);
  }

  .info p.concorrente {
    color: red;
    font-size: 1.8em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
  }

  ul li {
    display: block;
    margin-right: 0.5em;
    color: var(--text);
    font-size: 1rem;
  }
</style>
